{% extends 'DgwebBundle:Panel:layoutpanel.html.twig' %}
{% block titulo %}Gestionar Categoria Portafolio{% endblock %}

{% block contenido -%}
    {#<h1>Categoriaport list</h1>#}
    
     <div class="container" style="background-color: #F6F6F6; padding-top:10px; padding-bottom: 1px;">
         
      <div class="col-sm-12 col-md-12" style="margin-top: 5px; margin-bottom: 50px;"> 
        <center><a href="{{ path('admin_categoriaport_new') }}" class="botonpanel" id="cancelarNuevo">Crear categoria</a></center>
      </div>  
      
      
      
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="tablapanel">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <table class="table-bordered center" style="margin:0 auto; width: 40%;">
                                    <thead>
                                        <tr>
                                             {# <th>Id</th>#}
                                                <th class="text-center">Categoria</th>
                                                <th class="text-center">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities %}
                                            <tr>
                                                {#<td><a href="{{ path('admin_categoriablog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                                                  <td style="width: 60%;" class="text-left"><div style="padding: 0px 10px;">{{ entity.nombre }}</td>
                                                <td>
                                                 {#   <ul>
                                                          <li>
                                                                <a href="{{ path('admin_categoriablog_show', { 'id': entity.id }) }}">show</a>
                                                            </li>
                                                            <li>#}
                                                                 <a href="{{ path('admin_categoriaport_edit', { 'id': entity.id }) }}"><center>Editar</center></a>
                                                           {#  </li>
                                                    </ul>#}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

  
    {% endblock %}
