{% extends 'DgwebBundle:Layout:layout.html.twig' %}

{% block contproyectodetalle -%}
    {#{% include 'DgwebBundle:Layout:instagram.html.twig'%}#}
    <div class="container-fluid">
        <div class="row">
            <img src="{{ asset('Resources/img/proyectodetalle/celulas.png')}}" style="width: 100%;">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div style="margin-top: 20px;"></div>
            <p class="text-justify">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis 
                nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea 
                voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
            <p class="text-justify">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis 
                nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea 
                voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
            <p class="text-justify">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis 
                nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea 
                voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
            <div class="col-md-12 hr"></div>
            <div class="clearfix"></div>
            
            <div class="">
                <img src="{{ asset('Resources/img/proyectodetalle/celulas.png')}}" style="width: 100%;">
            </div>
            <div class="" style="margin-top: 50px;">
                <img src="{{ asset('Resources/img/proyectodetalle/celulas.png')}}" style="width: 100%;">
            </div>
            <div class="" style="margin-top: 50px;">
                <img src="{{ asset('Resources/img/proyectodetalle/celulas.png')}}" style="width: 100%;">
            </div>
            <div class="" style="margin-top: 50px;">
                <img src="{{ asset('Resources/img/proyectodetalle/celulas.png')}}" style="width: 100%;">
            </div>
            <div class="" style="margin-top: 50px;">
                <img src="{{ asset('Resources/img/proyectodetalle/celulas.png')}}" style="width: 100%;">
            </div>
            
            <div class="col-md-12 hr"></div>
            
            <div style="margin-top: 50px;">
                <p>
                <h3>Coments redes sociales</h3>
                </p>
            </div>
            
        </div>
    </div>
{% endblock %}
