{% extends 'DgwebBundle:Layout:layout.html.twig' %}

{% block contportafolio -%}

   <div class="container" style="background-color: #F6F6F6; padding-top:10px; padding-bottom: 1px;">  
		
   
        <h2 class="text-center" style="color: #828282; margin-top: 10px; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">{{ entity.titulo }}</h2>
        <div style="width: 60px; border-top: 2px solid #09F; margin-left: auto; margin-right: auto; margin-top: 10px;"></div></h2>     
	<!-- Footer Desktop -->
        
   </div> 

    <table class="record_properties">
        <tbody>
         {#   <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr> #}
            <tr>
             {#   <th>Titulo</th> 
                 <h2 class="text-center" style="color: #828282; margin-top: 30px; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">{{ entity.titulo }}</h2>
                 <td>{{ entity.titulo }}</td> #}
            </tr>
            <tr>
             {#   <th>Contenido</th> #}
                 <h2 class="text-center" style="color: #262626; margin-top: 30px; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 18px;">{{ entity.idCategoriaport }}</h2>
             {#   <td>{{ entity.contenido }}</td> #}
            </tr>
             <tr>
                 
           {% for key, placa in entity.placas %}
               
                {%  if key==0   %}  

                  <div class="container-fluid">
                      <div class="row">
                          <img class="embed-responsive-item" style="width: 100%; margin-top: 30px;" itemprop="thumbnail" src="{{ asset('Photos/proyecto/')}}{{entity.placas[key].imagen}}" alt="dummy image">
                       <div class="container" style="background-color: #F6F6F6; padding-top:10px; padding-bottom: 1px;">  
                          <div class="row">
                            <div style="margin-top: 20px;"></div>
                            <p class="text-justify">
                               {{ entity.contenido }}
                            </p> 
                          </div>
                       </div> 
                      </div>
                  </div>  
                
                {% else %}
                    <div class="container" style="background-color: #F6F6F6; padding-top:10px; padding-bottom: 1px;">  
                         <div class="col-md-12 hr"></div>
                        <img class="embed-responsive-item" style="width: 100%; margin-top: 30px;" itemprop="thumbnail" src="{{ asset('Photos/proyecto/')}}{{entity.placas[key].imagen}}" alt="dummy image">
                    </div> 
                {% endif %}
                
           {% endfor %} 
           
        <div class="container" style="background-color: #F6F6F6; padding-top:10px; padding-bottom: 1px;">      
          <div class="col-md-12 hr"></div>   
        </div>     
            
             </tr>
        </tbody>
    </table>
             
    <div class="col-sm-12 col-md-12" style="margin-top: 50px; margin-bottom: 100px;"> 
        <center><a href="{{ path('admin_proyecto') }}" class="btn btn-default btn-sm" id="cancelarNuevo">Regresar a proyectos</a></center>
    </div>           
      
 </div> 
{% endblock %}
