<div class="hidden-xs hidden-sm">
    <!-- About the CEO -->
    <div class="container" style="margin-top: 30px; margin-bottom: 100px;">
      <p class="text-center mont text-uppercase" style="font-size: 25px; letter-spacing: 0.2em; margin-botton: 5px;">ABOUT THE CEO</p>
      <div class="line"></div>
      <div class="row" style="margin-top: 40px;">
        <div class="col-md-5">
          <img src="{{asset('Resources/img/ceo.jpg')}}" style="width: 100%; max-width: 100%;">
        </div>
        <div class="col-md-6">
          <p class="mont" style="font-size: 30px; color: #262626; margin-bottom: 0px; letter-spacing: 0.1em;">MARVIN JOSE VIGIL</p>
          <p class="mont" style="font-size: 16px; color: #A6A6A6;">CHIEF EXECUTIVE OFFICER AND FOUNDER</p>
          <p class="text-justify" style="font-size: 14px; margin-top: 10px;">
            Hello, thanks for your interest in our company, you made a smart decision and
            came to the correct place. Get to know a little more about me.
            </br></br>
            My passion and key motivator is creating, maintaining and managing these high
            value relationships to deliver measurable and perpetually beneficial business
            outcomes for my clients. I have refined my analytical skills for Identifying
            and delivering tailored solutions to the area’s most in need of decisive
            improvement within my clients complex business environments. 
            </br></br>
            Strategic Business Development and Relationship Management Expertise: - I have
            extensive experience in establishing, managing and maintaining high level
            strategic relationships with corporate enterprise clients. 
            </br></br>
            I am very comfortable identifying and articulating the business needs; developing the
            solution to meet these needs, negotiating their worth, implementing the
            services to support them, and then managing the ongoing SLA’s and
            relationships put in place to deliver and drive them. 
            </br></br>
            Project Management Expertise:- I have strong Project Management experience working side by side
            with Master Project Directors and Senior Project Managers as the client
            interface on multi-faceted, large scale and complex projects.
            </br></br>
            Specialties: High Level Strategic Business Direction and Planning, Strategic
            Marketing Plan Development, Business Development, Client Strategy
            Development, Bid Management, Competitive Bidding, Solution Development,
            Business Benefit Identification, Document Creation, Proposal Management,
            Client Account Management, Service Delivery, Relationship Management,
            Negotiation, Risk Management, Conflict Resolution, People Management, Vendor
            Management, Project Management, Cost Management.</p>
            <p class="text-center"><a href="{{asset('https://sv.linkedin.com/pub/marvin-jose-vigil/8b/a57/a62')}}">
            <img src="{{asset('https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png')}}" width="160" height="33" border="0" alt="View Marvin Jose Vigil's profile on LinkedIn">
            </a></p>
        </div>
        <div class="clearfix"></div>
          <p class="text-center mont text-uppercase" style="margin-top: 100px; font-size: 25px; letter-spacing: 0.2em; margin-botton: 5px;">STAFF</p>
          <div class="line"></div>
          <div style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 10px;">
          <p class="text-center sans" style="font-weight: 300; font-size: 13px;">We do quality work, we are experienced 
          people who aim to provide the best solutions and services available.</p>
          </div>
          <div class="container" style="margin-top: 40px;">
            <div class="grid_1">
              <div class="col-md-3 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic2.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                         <h3>Mario Castro</h3>
                        <h4>Back-End Developer</h4>
              </div>
              <div class="col-md-3 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic1.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                        <h3>Anthony Huezo</h3>
                        <h4>Back-End Developer</h4>
              </div>
              <div class="col-md-3 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic3.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                         <h3>Nestor Herrera</h3>
                        <h4>Back-End Developer</h4>
              </div>
              <div class="col-md-3 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic4.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                        <h3>Elman Ortiz</h3>
                        <h4>Back-End Developer</h4>
              </div>
              <div class="clearfix"> </div>
              <div style="height: 20px;"></div>
              <div class="col-md-3 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic5.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                        <h3>Jorge Martinez</h3>
                        <h4>Senior Sales Assosiate</h4>
              </div>
              <div class="col-md-3 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic6.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                         <h3>Diego Gonzalez</h3>
                        <h4>Junior Content Manager</h4>
              </div>
              <div class="col-md-3 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic7.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                         <h3>Kevin Guevara</h3>
                        <h4>Creative Art Director</h4>
              </div>
              <div class="col-md-3 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic8.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                        <h3>Javier Ayala</h3>
                        <h4>Graphic Designer</h4>
              </div>
            </div>
          </div> <!-- End of Container of Staff -->
      </div>
    </div>
    </div>

    <!-- Movil -->
    <div class="hidden-md hidden-lg">
    <!-- About the CEO -->
    <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
      <p class="text-center mont text-uppercase" style="font-size: 25px; letter-spacing: 0.2em; margin-botton: 5px;">ABOUT THE CEO</p>
      <div class="line"></div>
      <div class="row" style="margin-top: 40px;">
        <div class="col-md-5">
          <img src="{{asset('Resources/img/ceo.jpg')}}" style="width: 100%; max-width: 100%;">
        </div>
        <div class="col-md-6">
          <p class="mont text-center" style="font-size: 1.5em; color: #262626; margin-bottom: 0px; letter-spacing: 0.1em; margin-top: 20px;">MARVIN JOSE VIGIL</p>
          <p class="mont text-center" style="font-size: 0.8em; color: #A6A6A6;">CHIEF EXECUTIVE OFFICER AND FOUNDER</p>
          <p class="text-justify" style="font-size: 14px; margin-top: 10px; padding: 10px;">
            Hello, thanks for your interest in our company, you made a smart decision and
            came to the correct place. Get to know a little more about me.
            </br></br>
            My passion and key motivator is creating, maintaining and managing these high
            value relationships to deliver measurable and perpetually beneficial business
            outcomes for my clients. I have refined my analytical skills for Identifying
            and delivering tailored solutions to the area’s most in need of decisive
            improvement within my clients complex business environments. 
            </br></br>
            Strategic Business Development and Relationship Management Expertise: - I have
            extensive experience in establishing, managing and maintaining high level
            strategic relationships with corporate enterprise clients. 
            </br></br>
            I am very comfortable identifying and articulating the business needs; developing the
            solution to meet these needs, negotiating their worth, implementing the
            services to support them, and then managing the ongoing SLA’s and
            relationships put in place to deliver and drive them. 
            </br></br>
            Project Management Expertise:- I have strong Project Management experience working side by side
            with Master Project Directors and Senior Project Managers as the client
            interface on multi-faceted, large scale and complex projects.
            </br></br>
            Specialties: High Level Strategic Business Direction and Planning, Strategic
            Marketing Plan Development, Business Development, Client Strategy
            Development, Bid Management, Competitive Bidding, Solution Development,
            Business Benefit Identification, Document Creation, Proposal Management,
            Client Account Management, Service Delivery, Relationship Management,
            Negotiation, Risk Management, Conflict Resolution, People Management, Vendor
            Management, Project Management, Cost Management. </br></br></p> <p class="text-center">Check out my linked in profile.</p>
            <p class="text-center"><a href="{{asset('https://sv.linkedin.com/pub/marvin-jose-vigil/8b/a57/a62')}}">
            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Marvin Jose Vigil's profile on LinkedIn">
            </a></p>
        </div>
        <div class="clearfix"></div>
          <p class="text-center mont text-uppercase" style="margin-top: 100px; font-size: 25px; letter-spacing: 0.2em; margin-botton: 5px;">STAFF</p>
          <div class="line"></div>
          <div style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 10px;">
          <p class="text-center sans" style="font-weight: 300; font-size: 13px;">We do quality work, we are experienced 
          people who aim to provide the best solutions and services available.</p>
          </div>
          <div class="container" style="margin-top: 40px;">
            <div class="grid_1">
              <div class="col-md-3 col-xs-6 col-sm-6 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic2.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                         <h3>Mario Castro</h3>
                        <h4>Back-End Developer</h4>
              </div>
              <div class="col-md-3 col-xs-6 col-sm-6 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic1.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                        <h3>Anthony Huezo</h3>
                        <h4>Back-End Developer</h4>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-3 col-xs-6 col-sm-6 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic3.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                         <h3>Nestor Herrera</h3>
                        <h4>Back-End Developer</h4>
              </div>
              <div class="col-md-3 col-xs-6 col-sm-6 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic4.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                        <h3>Elman Ortiz</h3>
                        <h4>Back-End Developer</h4>
              </div>
              <div class="clearfix"> </div>
              <div class="col-md-3 col-xs-6 col-sm-6 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic5.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                        <h3>Jorge Martinez</h3>
                        <h4>Senior Sales Assosiate</h4>
              </div>
              <div class="col-md-3 col-xs-6 col-sm-6 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic6.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                         <h3>Diego Gonzalez</h3>
                        <h4>Junior Content Manager</h4>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-3 col-xs-6 col-sm-6 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic7.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                         <h3>Kevin Guevara</h3>
                        <h4>Creative Art Director</h4>
              </div>
              <div class="col-md-3 col-xs-6 col-sm-6 team-grid">
                <div class="view view-first">
                    <div class="index_img"><img src="{{asset('Resources/img/pic8.jpg')}}" class="img-responsive" alt=""/></div>
                    <div class="mask">
                      <ul class="f_social">
                    <li><a href=""> <i class="tw"> </i> </a></li>
                    <li><a href=""><i class="fb"> </i> </a></li>
                    <li><a href=""><i class="g"> </i> </a></li>
                    </ul>
                      </div>
                        </div> 
                        <h3>Javier Ayala</h3>
                        <h4>Graphic Designer</h4>
              </div>
            </div>
          </div> <!-- End of Container of Staff -->
      </div>
    </div>
    </div>