<div class="container" style="margin-top: 30px;">
      <div data-sr='wait 0.1s, ease-in 50px'><h2 class="text-center" style="color: #B3B3B3;">OUR GREAT <strong style="color: #262626;">TEAM</strong></h2></div>
      <div data-sr='wait 0.3s, ease-in 50px'><h4 class="text-center" style="color: #262626;">And we are<strong style="color: #262626;">PROUD</strong> of it</h4></div>
      <div class="row">
        <!-- INICIO DE PERSONA MARVIN -->
        <div class="col-md-6" style="margin-top: 20px;">
          <div style="border: 2px solid #262626; padding: 10px 10px 10px;">
            <img src="{{asset('Resources/img/team/marvin.png')}}" style="max-width: 100%;">
            <p class="text-center" style="font-size: 20px;">Marvin</br><small>Chief Executive Officer & Founder</small></p>
              <div class="row hidden-sm hidden-xs">
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color.png">
                  <p class="text-center">#437687</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color1.png">
                  <p class="text-center">Roboto</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color2.png">
                  <p class="text-center">Bike</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color3.png">
                  <p class="text-center">Apple</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color5.png">
                  <p class="text-center">Electronic</p>
                  </span>
                  </p>
                </div>
              </div>
          </div>
        </div><!-- FIN DE PERSONA -->
        <!-- INICIO DE PERSONA ANTHONY -->
        <div class="col-md-6" style="margin-top: 20px;">
          <div style="border: 2px solid #262626; padding: 10px 10px 10px;">
            <img src="{{asset('Resources/img/team/nestor.png')}}" style="max-width: 100%;">
            <p class="text-center" style="font-size: 20px;">NESTOR</br><small>Programmer / Analist Programmer</small></p>
              <div class="row hidden-sm hidden-xs">
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color.png">
                  <p class="text-center">#437687</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color1.png">
                  <p class="text-center">Roboto</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color2.png">
                  <p class="text-center">Bike</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color3.png">
                  <p class="text-center">Apple</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color5.png">
                  <p class="text-center">Electronic</p>
                  </span>
                  </p>
                </div>
              </div>
          </div>
        </div><!-- FIN DE PERSONA  -->
        <!-- INICIO DE PERSONA NESTOR -->
        <div class="col-md-6" style="margin-top: 20px;">
          <div style="border: 2px solid #262626; padding: 10px 10px 10px;">
            <img src="{{asset('Resources/img/team/anthony.png')}}" style="max-width: 100%;">
            <p class="text-center" style="font-size: 20px;">ANTHONY</br><small>Programmer / Analist Programmer</small></p>
              <div class="row hidden-sm hidden-xs">
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color.png">
                  <p class="text-center">#437687</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color1.png">
                  <p class="text-center">Roboto</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color2.png">
                  <p class="text-center">Bike</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color3.png">
                  <p class="text-center">Apple</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color5.png">
                  <p class="text-center">Electronic</p>
                  </span>
                  </p>
                </div>
              </div>
          </div>
        </div><!-- FIN DE PERSONA  -->
        <!-- INICIO DE PERSONA KEVIN -->
        <div class="col-md-6" style="margin-top: 20px;">
          <div style="border: 2px solid #262626; padding: 10px 10px 10px;">
            <img src="{{asset('Resources/img/team/samuel.png')}}" style="max-width: 100%;">
            <p class="text-center" style="font-size: 20px;">SAMUEL</br><small>Programmer / Analist Programmer</small></p>
              <div class="row hidden-sm hidden-xs">
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color.png">
                  <p class="text-center">#437687</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color1.png">
                  <p class="text-center">Roboto</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color2.png">
                  <p class="text-center">Bike</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color3.png">
                  <p class="text-center">Apple</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color5.png">
                  <p class="text-center">Electronic</p>
                  </span>
                  </p>
                </div>
              </div>
          </div>
        </div><!-- FIN DE PERSONA  -->
        <!-- INICIO DE PERSONA YVANNA -->
        <div class="col-md-6" style="margin-top: 20px;">
          <div style="border: 2px solid #262626; padding: 10px 10px 10px;">
            <img src="{{asset('Resources/img/team/diego.png')}}" style="max-width: 100%;">
            <p class="text-center" style="font-size: 20px;">DIEGO</br><small>Content Management</small></p>
              <div class="row hidden-sm hidden-xs">
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color.png">
                  <p class="text-center">#437687</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color1.png">
                  <p class="text-center">Roboto</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color2.png">
                  <p class="text-center">Bike</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color3.png">
                  <p class="text-center">Apple</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color5.png">
                  <p class="text-center">Electronic</p>
                  </span>
                  </p>
                </div>
              </div>
          </div>
        </div><!-- FIN DE PERSONA  -->
        <!-- INICIO DE PERSONA DIEGO -->
        <div class="col-md-6" style="margin-top: 20px;">
          <div style="border: 2px solid #262626; padding: 10px 10px 10px;">
            <img src="{{asset('Resources/img/team/kevin.png')}}" style="max-width: 100%;">
            <p class="text-center" style="font-size: 20px;">KEVIN</br><small>Creative Art Director</small></p>
              <div class="row hidden-sm hidden-xs">
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color.png">
                  <p class="text-center">#437687</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color1.png">
                  <p class="text-center">Roboto</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color2.png">
                  <p class="text-center">Bike</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color3.png">
                  <p class="text-center">Apple</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color5.png">
                  <p class="text-center">Electronic</p>
                  </span>
                  </p>
                </div>
              </div>
          </div>
        </div><!-- FIN DE PERSONA -->
        <div class="clearfix"></div>
        <!-- INICIO DE PERSONA -->
        <div class="col-md-6" style="margin-top: 20px;">
          <div style="border: 2px solid #262626; padding: 10px 10px 10px;">
            <img src="{{asset('Resources/img/team/elman.png')}}" style="max-width: 100%;">
            <p class="text-center" style="font-size: 20px;">ELMAN</br><small>Programmer / Analist Programmer</small></p>
              <div class="row hidden-sm hidden-xs">
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color.png">
                  <p class="text-center">#437687</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color1.png">
                  <p class="text-center">Roboto</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color2.png">
                  <p class="text-center">Bike</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color3.png">
                  <p class="text-center">Apple</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color5.png">
                  <p class="text-center">Electronic</p>
                  </span>
                  </p>
                </div>
              </div>
          </div>
        </div><!-- FIN DE PERSONA  -->
        <!-- INICIO DE PERSONA -->
        <div class="col-md-6" style="margin-top: 20px;">
          <div style="border: 2px solid #262626; padding: 10px 10px 10px;">
            <img src="{{asset('Resources/img/team/javier.png')}}" style="max-width: 100%;">
            <p class="text-center" style="font-size: 20px;">JAVIER</br><small>Graphic Design</small></p>
              <div class="row hidden-sm hidden-xs">
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color.png">
                  <p class="text-center">#437687</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color1.png">
                  <p class="text-center">Roboto</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color2.png">
                  <p class="text-center">Bike</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color3.png">
                  <p class="text-center">Apple</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color5.png">
                  <p class="text-center">Electronic</p>
                  </span>
                  </p>
                </div>
              </div>
          </div>
        </div><!-- FIN DE PERSONA  -->
        <!-- INICIO DE PERSONA -->
        <div class="col-md-6" style="margin-top: 20px;">
          <div style="border: 2px solid #262626; padding: 10px 10px 10px;">
            <img src="{{asset('Resources/img/team/comingsoon.png')}}" style="max-width: 100%;">
            <p class="text-center" style="font-size: 20px;">MARIO</br><small>Programmer / Analist Programmer</small></p>
              <div class="row hidden-sm hidden-xs">
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color.png">
                  <p class="text-center">#437687</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color1.png">
                  <p class="text-center">Roboto</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color2.png">
                  <p class="text-center">Bike</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color3.png">
                  <p class="text-center">Apple</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color5.png">
                  <p class="text-center">Electronic</p>
                  </span>
                  </p>
                </div>
              </div>
          </div>
        </div><!-- FIN DE PERSONA  -->
        <!-- INICIO DE PERSONA -->
        <div class="col-md-6" style="margin-top: 20px;">
          <div style="border: 2px solid #262626; padding: 10px 10px 10px;">
            <img src="{{asset('Resources/img/team/comingsoon.png')}}" style="max-width: 100%;">
            <p class="text-center" style="font-size: 20px;">YVANNA</br><small>Graphic Design</small></p>
              <div class="row hidden-sm hidden-xs">
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color.png">
                  <p class="text-center">#437687</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color1.png">
                  <p class="text-center">Roboto</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color2.png">
                  <p class="text-center">Bike</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color3.png">
                  <p class="text-center">Apple</p>
                  </span>
                  </p>
                </div>
                <div class="col-md-2" style="background-color: #DDD; margin-left: 15px; padding-top: 10px;">
                  <p class="text-center">
                  <span>
                  <img src="img/color5.png">
                  <p class="text-center">Electronic</p>
                  </span>
                  </p>
                </div>
              </div>
          </div>
        </div><!-- FIN DE PERSONA  -->
      </div> <!-- FIN ROW -->
    </div> <!-- FIN CONTAINER -->