{% extends 'DgwebBundle:Panel:layoutpanel.html.twig' %}
{% block titulo %}Blog{% endblock %}
{% block contenido -%}

    <div class="container" style="background-color: #F6F6F6; padding-top:10px; padding-bottom: 1px;">

        <div class="col-sm-12 col-md-4"></div>     
        <div class="col-sm-12 col-md-4 center-text" style="margin-top: 5px; margin-bottom: 50px;"> 

            <a href="{{ path('admin_entrada_new') }}" class="botonpanel center-text" id="cancelarNuevo">Crear blog</a>
        </div>
        <div class="col-sm-12 col-md-4"></div>     

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="tablapanel">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <table class="table-bordered center" style="margin:0 auto; width: 100%;">
                                        <thead>
                                            <tr>
                                                {#<th>Id</th>#}
                                                <th class="text-center">Titulo</th>
                                                <th class="text-center">Escritapor</th>
                                                <th class="text-center">Fecha</th>
                                                <th class="text-center">Contenido</th>
                                                <th class="text-center">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for entity in entities %}
                                                <tr>
                                                    {#<td><a href="{{ path('admin_entrada_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                                                    <td class="text-center">{{ entity.titulo }}</td>
                                                    <td class="text-center">{{ entity.escritapor }}</td>
                                                    <td class="text-center">{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                                                    <td style="width: 60%;" class="text-justify"><div style="padding: 0px 10px;">{{ entity.contenido | raw}}</div></td>
                                                    <td>
                                                        {# <ul>
                                                             <li>
                                                                 <a href="{{ path('admin_entrada_show', { 'id': entity.id }) }}">show</a>
                                                             </li>
                                                             <li>#}
                                                        <a href="{{ path('admin_entrada_edit', { 'id': entity.id }) }}"><center>Editar</center></a>
                                                                {#   </li>
                                                           </ul>#}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {# <ul>
         <li>
             <a href="{{ path('admin_entrada_new') }}">
                 Crear blog
             </a>
         </li>
     </ul>#}
    {% endblock %}
