<!-- CLIENTES -->
    <div class="container-fluid" style="background: url('{{ asset('Resources/img/about-bg.jpg')}}');">  
      <div class="container">
        <div data-sr='wait 0.1s, ease-in 50px'><h2 class="text-center" style="margin-bottom: 10px; margin-top: 60px;"> <strong>FEATURED CLIENTS</strong></h2></div>
        <div class="row">
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset ('Resources/img/clients/logonormal.png')}}" style="height: 90px; margin-top:30px; max-width: 100%;"></p>
          </div>
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset ('Resources/img/clients/xent.png')}}" style="width: 200px; margin-top: 53px; max-width: 100%;">
            </p>
          </div>
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset('Resources/img/clients/skilled.png')}}" style="width: 200px; margin-top: 58px; max-width: 100%;">
            </p>
          </div>
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset('Resources/img/clients/lpb.png')}}" style="width: 200px; margin-top: 58px; max-width: 100%;">
            </p>
          </div>
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset('Resources/img/clients/logolaydout.png')}}" style="width: 150px; margin-top: 45px; max-width: 100%;">
            </p>
          </div>
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset('Resources/img/clients/huellas.png')}}" style="width: 200px; margin-top: 50px; max-width: 100%;">
            </p>
          </div>
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset('Resources/img/clients/newlogo.png')}}" style="width: 200px; margin-top: 50px; max-width: 100%;">
            </p>
          </div>
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset('Resources/img/clients/letras.fw.png')}}" style="width: 200px; margin-top: 50px; max-width: 100%;">
            </p>
          </div>
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset('Resources/img/clients/ahumado.png')}}" style="width: 200px; margin-top: 50px; max-width: 100%;">
            </p>
          </div>
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset('Resources/img/clients/sonodigest.png')}}" style="width: 200px; margin-top: 50px; max-width: 100%;">
            </p>
          </div>
          <div class="col-md-3 col-xs-4" style="height: 170px;">
            <p class="text-center"><img src="{{ asset('Resources/img/clients/paradise.png')}}" style="margin-top: 50px; height:100px; max-width: 100%;">
            </p>
          </div>
        </div>
      </div>
    </div>
