<!-- Contenedor de Servicios -->
<div class="container">
    <div class="container" style="padding-bottom: 70px;">
        <!-- DIVISOR ESCONDIDO EN MOBILE -->
        <div class="container hidden-xs hidden-sm" style="margin-top: 70px;"></div>
        <div class="container hidden-md hidden-lg" style="margin-top: 30px;"></div>
        <div data-sr='wait 0.1s, ease-in 50px, reset'><h2 class="text-center" style="margin-bottom: 60px;"> <strong>NUESTROS SERVICIOS</strong></h2></div>
        <div class="row">
            <div data-sr="wait 0.1s, ease-in-out 100px"><div class="col-md-4">
                    <div class="col-md-3">
                        <img src="{{ asset('Resources/img/icon1.png') }}" style="margin-top: 45px;" alt="Paginas Web">
                    </div>
                    <div class="col-md-9">
                        <p style="font-size: 24px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit;">Paginas Web </br> 
                            <small style="font-weight: normal; line-height: 1; color: #777; font-size: 60%;">Creacion de Paginas Web adapatadas a telefonos movil, tablets y iPads. Diseños creativos e innovadores.</small></p>
                    </div>
                </div></div>
            <div data-sr="wait 0.3s, ease-in-out 100px"><div class="col-md-4">
                    <div class="col-md-3">
                        <img src="{{ asset('Resources/img/icon2.png') }}" style="margin-top: 45px;" alt="bases de datos">
                    </div>
                    <div class="col-md-9">
                        <p style="font-size: 24px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit;">Bases de datos </br> 
                            <small style="font-weight: normal; line-height: 1; color: #777; font-size: 60%;">Integracion de Bases de Datos a paginas web y portales de acceso seguro con contraseña.</small></p>
                    </div>
                </div></div>
            <div data-sr="wait 0.5s, ease-in-out 100px"><div class="col-md-4">
                    <div class="col-md-3">
                        <img src="{{ asset('Resources/img/icon3.png') }}" style="margin-top: 45px;" alt="Sistemas Administrativos">
                    </div>
                    <div class="col-md-9">
                        <p style="font-size: 24px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit;">Sistemas Administrativos </br> 
                            <small style="font-weight: normal; line-height: 1; color: #777; font-size: 60%;">Sistemas adecuados a las necesidades de su negocio. Autoadministrables con seguridad SSL.</small></p>
                    </div>
                </div></div>
            <div data-sr="wait 0.7s, ease-in-out 100px"><div class="col-md-4">
                    <div class="col-md-3">
                        <img src="{{ asset('Resources/img/icon4.png') }}" style="margin-top: 45px;" alt="E-commerce">
                    </div>
                    <div class="col-md-9">
                        <p style="font-size: 24px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit;">E-Commerce </br> 
                            <small style="font-weight: normal; line-height: 1; color: #777; font-size: 60%;">Paginas con portal de pagos utilizando bases de datos para administrar contenidos y productos con gran seguridad.</small></p>
                    </div>
                </div></div>
            <div data-sr="wait 0.9s, ease-in-out 100px"><div class="col-md-4">
                    <div class="col-md-3">
                        <img src="{{ asset('Resources/img/icon5.png') }}" style="margin-top: 45px;" align="e-marketing">
                    </div>
                    <div class="col-md-9">
                        <p style="font-size: 24px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit;">E-Marketing </br> 
                            <small style="font-weight: normal; line-height: 1; color: #777; font-size: 60%;">Ofrecemos captura de datos y envios de emails masivos administrable y fully responsive para tables y smartphones.</small></p>
                    </div>
                </div></div>
            <div data-sr="wait 1.1s, ease-in-out 100px"><div class="col-md-4">
                    <div class="col-md-3">
                        <img src="{{ asset('Resources/img/icon6.png') }}" style="margin-top: 45px;" alt="Venta de Dominios y Web Hosting.">
                    </div>
                    <div class="col-md-9">
                        <p style="font-size: 24px; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit;">Hosting y Dominios </br> 
                            <small style="font-weight: normal; line-height: 1; color: #777; font-size: 60%;">Venta de Dominios y Web Hosting. Hosting desde $7.99 p/mes y dominios desde $25 p/año.</small></p>
                    </div>
                </div></div>
        </div>
    </div>   
</div>