<!-- Services Preview -->
<div class="clearfix">
    <div class="container" style="margin-bottom: 100px;">
        <div class="row">
            <div class="text-center" style="padding-top: 100px;">
                <div><p style="font-size: 18px; letter-spacing: 0.08em; color: #828282;">SERVICES</p></div>
                <div><p style="font-size: 23px; color: #262626; font-family: 'Open Sans', sans-serif; font-weight: 300;">This is just a bit of our expertise</p></div>
                <div style="width: 60%; margin-left: auto; margin-right: auto;"><p style="font-family: Open Sans; font-weight: 400; color: #828282; font-size: 13px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut eni.</p></div>
            </div>

            <div class="container" style="margin-top: 20px;">
                <div class="row">
                    <!-- Service Box -->
                    <a href="#"><div class="col-md-4 service-box">
                            <div id="icon-service" class="text-center"> <img src="{{asset('http://placehold.it/100x100')}}" class="img-circle"> </div>
                            <div id="title-service"> <p class="text-center">TITLE OF SERVICE HERE</p></div>
                            <div id="body-service"> <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p></div>
                        </div></a>
                    <!-- End Service Box -->
                    <!-- Service Box -->
                    <a href="#"><div class="col-md-4 service-box">
                            <div id="icon-service" class="text-center"> <img src="{{asset('http://placehold.it/100x100')}}" class="img-circle"> </div>
                            <div id="title-service"> <p class="text-center">TITLE OF SERVICE HERE</p></div>
                            <div id="body-service"> <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p></div>
                        </div></a>
                    <!-- End Service Box -->
                    <!-- Service Box -->
                    <a href="#"><div class="col-md-4 service-box">
                            <div id="icon-service" class="text-center"> <img src="{{asset('http://placehold.it/100x100')}}" class="img-circle"> </div>
                            <div id="title-service"> <p class="text-center">TITLE OF SERVICE HERE</p></div>
                            <div id="body-service"> <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p></div>
                        </div></a>
                    <!-- End Service Box -->
                    <div class="clearfix"></div>
                    <!-- Service Box -->
                    <a href="#"><div class="col-md-4 service-box">
                            <div id="icon-service" class="text-center"> <img src="{{asset('http://placehold.it/100x100')}}" class="img-circle"> </div>
                            <div id="title-service"> <p class="text-center">TITLE OF SERVICE HERE</p></div>
                            <div id="body-service"> <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p></div>
                        </div></a>
                    <!-- End Service Box -->
                    <!-- Service Box -->
                    <a href="#"><div class="col-md-4 service-box">
                            <div id="icon-service" class="text-center"> <img src="{{asset('http://placehold.it/100x100')}}" class="img-circle"> </div>
                            <div id="title-service"> <p class="text-center">TITLE OF SERVICE HERE</p></div>
                            <div id="body-service"> <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p></div>
                        </div></a>
                    <!-- End Service Box -->
                    <!-- Service Box -->
                    <a href="#"><div class="col-md-4 service-box">
                            <div id="icon-service" class="text-center"> <img src="{{asset('http://placehold.it/100x100')}}" class="img-circle"> </div>
                            <div id="title-service"> <p class="text-center">TITLE OF SERVICE HERE</p></div>
                            <div id="body-service"> <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p></div>
                        </div></a>
                    <!-- End Service Box -->
                </div>
            </div>
        </div>
    </div>