{% extends 'DgwebBundle:Panel:layoutpanel.html.twig' %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"><div class="text-center"><a href="{{ path('admin_proyecto') }}">Proyectos</a></div></div>
            <div class="col-md-3"><div class="text-center"><a href="{{ path('admin_proyecto_new') }}">Crear proyecto</a></div></div>
            <div class="col-md-3"><div class="text-center"><a href="{{ path('admin_indexadmin') }}">Editar proyecto</a></div></div>
             <div class="col-md-3"><div class="text-center"><a href="{{ path('admin_categoriaport') }}">Gestion Categoria Portafolio</a></div></div>
            <div class="col-md-3"><div class="text-center"><a href="{{ path('admin_entrada_new') }}">Crear blog</a></div></div>
            <div class="col-md-3"><div class="text-center"><a href="{{ path('admin_categoriablog') }}">Gestion Categoria Blog</a></div></div>
           
            
        </div>
    </div>
{% endblock %}