{% extends 'DgwebBundle:Panel:layoutpanel.html.twig' %}

{% block contenido %}
    <div class="container">
        <div class="row">
            
       <div class="col-sm-12 col-md-4" style="margin-top: 1px; margin-bottom: 1px;"> 
          <a href="{{ path('admin_proyecto_new') }}" class="botonpane2">Crear proyecto</a>
       </div> 
       <div class="col-sm-12 col-md-4" style="margin-top: 1px; margin-bottom: 1px;"> 
          <a href="{{ path('admin_proyecto') }}" class="botonpane2" >Proyectos creados</a>
       </div> 
       
        <div class="col-sm-12 col-md-4" style="margin-top: 1px; margin-bottom: 1px;"> 
          <a href="{{ path('admin_categoriaport') }}" class="botonpane2">Gestion categoria portafolio</a>
       </div> 
       <div class="col-sm-12 col-md-4" style="margin-top: 1px; margin-bottom: 1px;"> 
          <a href="{{ path('admin_indexadmin') }}" class="botonpane2">Editar proyecto</a>
       </div>        
      
      {# <div class="col-sm-12 col-md-4" style="margin-top: 1px; margin-bottom: 1px;"> 
          <a href="{{ path('admin_entrada_new') }}" class="botonpanel">Crear blog</a>
       </div>#}
        <div class="col-sm-12 col-md-4" style="margin-top: 1px; margin-bottom: 1px;"> 
          <a href="{{ path('admin_entrada') }}" class="botonpane2">Gestionar blog</a>
       </div>
        <div class="col-sm-12 col-md-4" style="margin-top: 1px; margin-bottom: 1px;"> 
          <a href="{{ path('admin_categoriablog') }}" class="botonpane2">Gestion categoria blog</a>
       </div>
             
        </div>
    </div>
{% endblock %}